
/* HEADER INDEX*/
.heade-index{
    section{
        article{
            div{
                font-size: medium;
                ul{
                    li{
                        .tetexto-gris{
                            text-decoration: none;
                            color: rgb(171, 171, 171);}
                        }
                    }
                    li{
                        .tetexto-blanco{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }

/*header salud*/
.heade-salud{
    section{
        article{
            div{
                ul{
                    .gris-salud{
                        a{
                            color: rgb(171, 171, 171);
                        }
                    }
                    .blanco-salud{
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}