
/* HEADER INDEX*/
.heade-index{
    section{
        article{
            div{
                font-size: medium;
                ul{
                    li{
                        .tetexto-gris{
                            text-decoration: none;
                            color: rgb(171, 171, 171);}
                        }
                    }
                    li{
                        .tetexto-blanco{
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }




/*HEADER SALUD*/
.heade-salud{
    section{
        article{
            div{
                ul{
                    .gris-salud{
                        a{
                            color: rgb(171, 171, 171);
                        }
                    }
                    .blanco-salud{
                        a{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}



/*HEADER ALIMENTACION*/
.heade-alimentacion{
    section{
        article{
            div{
                ul{
                    .gris-alimentacion{
                        a{
                            color: rgb(171, 171, 171);
                        }
                    }
                }
            }
        }
    }
}



/*HEADER IMPORTANCIA DEL DE PORTE*/
.heade-importancia-dep{
    section{
        article{
            div{
                ul{
                    .gris-importancia-dep{
                        a{
                            color: rgb(171, 171, 171);
                        }
                    }
                }
            }
        }
    }
}


/*HEADER COMIDAS SANAS*/
.heade-comidas-sanas{
    section{
        article{
            div{
                .gris-comidas-sanas{
                    a{
                        color: rgb(171, 171, 171);
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}